@use '../../global/scss/global.scss' as *;

button {
    width: 7rem;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1rem;
    background-color: $button-background-color;
    color: $button-color;
    border: none;

    &:hover {
        background-color: darken($button-background-color, 4%);
    }
}
