$main-background-color: #dae0e6;
$main-text-color: #000000;
$component-background-color: #ffffff;

$button-color: #ffffff;
$button-background-color: #0079d3;

$header-border-color: #929292c5;
$input-background-color: #e4e4e4a2;
$loupe-color: #808080;
$input-focus-border: #0079d3;
